# Binaries
/dist/
/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build cache & test binaries
*.test
*.out

# Dependency directories
vendor/

# Project state
.justify/
.vscode/
.idea/
*.swp
.DS_Store

